<%= link_to "Sala", root_path, class:'item' %>
<a class="item">
    Mensajes
</a>
<div class="right menu">
    <div class="ui dropdown item">
        Cuenta <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item">Cerrar sesion</a>
            <%= link_to "Iniciar sesion", login_path, class:'item' %>
            <a class="item">Registrate</a>
        </div>
    </div>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
</div> 